<div id="<%= dom_id song %>">
  <p>
    <strong>Bpm:</strong>
    <%= song.bpm %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= song.title %>
  </p>

  <p>
    <strong>Last played:</strong>
    <%= song.last_played %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= song.status %>
  </p>

</div>
